body {
    background-image: url(../images/background.jpg);
    background-size: 100%, 100%;
}
h2 {
    color: white;
}
.headLine {
    font-size: 50px;
    font-family: Didot;
    color: white;
    text-align: center;
}
.container input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.handleWrap {
    position: relative;
    top: 150px;
    margin: auto;
    width: 30%;
    border-radius: 5px;
    border: 5px dotted #00FFFF;
    text-align: center;
    animation: down 2s;
}
.error1,.error2 {
    font-size: 5px;
    color: red;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}
#outButton{
    width:30%;
}
button:hover {
    opacity: 0.8;
}

.cancel {
    width: 40%;
    padding: 10px 20px;
    background-color: #f44336;

}

.imgcontainer {
    text-align: center;
    margin: 25px 0 10px 0;
    position: relative;
}

.img{
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.psw {
    float: right;
    padding-top: 16px;
}


.wrap {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.disable {
    display: none;
}
.endable {
    display: block;
}
.content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@keyframes down {
    from {top: 0px;}
    to {top: 150px;}
}
@-webkit-keyframes down {
    from {top: -100px;}
    to {top: 150px;}
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
